:root {
  --ivory: #fffff3ff;
  --celestial-blue: #20a4f3ff;
  --deep-coral: #ff5e5b;
  --carmine: #9e0031;
  --rich-black: #071e22ff;
  --black: #000000ff;
  --backdropWhite: #ffffff;
}

* {
  flex-wrap: wrap;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--rich-black);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 16px;
  background-color: var(--celestial-blue);
  position: fixed;
  box-sizing: border-box;
}

div.info-title {
  text-align: center;
}

nav,
ul,
a {
  display: flex;
  gap: 24px;
  list-style: none;
  text-decoration: none;
  color: var(--ivory);
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

.splitContainer {
  display: flex;
  gap: 48px;
  align-items: center;
  justify-content: center;
  padding: 160px 100px 100px;
  color: var(--ivory);
  background-color: var(--rich-black);
}

.right img {
  width: 100%;
  border-radius: 15px;
  height: auto;
  display: block;
}

.left {
  flex: 1;
}

h1:hover {
  transition: 0.6s;
  color: var(--carmine);
}

button {
  padding: 8px 32px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  outline: solid 2px var(--ivory);
}

button:hover {
  opacity: 0.9;
  transform: scale(1.02);
  cursor: pointer;
}

a:hover {
  color: var(--rich-black);
  transition: color 0.3s ease;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information-content {
  padding: 40px;
  background-color: var(--ivory);
  color: var(--rich-black);
}

.info-title {
  text-align: center;
}

div.pic-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 32px;
  margin: 40px;
}

.pic-text {
  margin-top: 15px;
  font-weight: bold;
  color: var(--rich-black);
}

.pic-container {
  max-width: 200px;
  text-align: center;
  transition: transform 0.3s ease;
}

.pic-container:hover {
  transform: translateY(-5px);
}

img {
  border-radius: 8px;
}

.pic img {
  width: 100px;
  height: 100px;
  padding: 20px;
}

.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--celestial-blue);
  border-radius: 15px;
  width: 200px;
  height: 200px;
}

footer {
  background-color: var(--black);
}

.cta {
  padding: 100px;
  background-color: var(--backdropWhite);
}

.terminal-box {
  background-color: var(--black);
  border-radius: 8px;
  padding: 30px;
  position: relative;
}

.terminal-header {
  color: var(--ivory);
  margin-bottom: 20px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.user {
  color: var(--rich-black);
  background-color: var(--ivory);
  border-radius: 4px;
  padding: 10px;
}

.tilde {
  color: var(--ivory);
}

.dollar {
  color: var(--ivory);
}

.command {
  color: var(--ivory);
}

.cursor {
  display: inline-block;
  width: 10px;
  height: auto;
  background-color: var(--ivory);
  animation: blink 1s infinite;
  margin-left: 5px;
}

.terminal-links {
  list-style: none;
  padding-left: 0;
  margin-top: 25px;
}

.terminal-links li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.terminal-links li::before {
  position: absolute;
  left: 0;
}

.terminal-links a {
  color: var(--ivory);
  text-decoration: none;
  transition: all 0.3s;
}

.terminal-links a:hover {
  color: var(--rich-black);
  text-decoration: underline;
  padding-left: 5px;
  background-color: var(--ivory);
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

div.quote {
  background-color: var(--deep-coral);
  padding: 40px;
}

p.quote-text {
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  color: var(--rich-black);
}

footer {
  text-align: center;
  color: var(--ivory);
}
